html,body{

    padding: 0;
    margin: 0;

}
#wrapper{

width: 100%;
    height: auto;
    background-color: white;

}

#navtop{
margin: 0 auto;
    background-color:white;
     width: 75%;
    height: 60px;
    


}

#navtop_left{
    float: left;
    width: 350px;
    height: 60px;
    
    }

#navtop_left ul{
    
list-style: none;
    margin: 0px;
    padding: 0px;
}

#navtop_left ul li{
float: left;
    padding-left: 20px;
    font-size: 30px;
    text-align: center;
    color: #32313B;
    line-height: 60px;
}

#navtop_right{
    width: 400px;
    height: 60px;
font-family: 'Kanit', sans-serif;
    
    float: right;
}

#navtop_right ul{
	margin:0px;
	padding:0px;
	}

#navtop_right li{
list-style: none;
    float: left;
    line-height:60px;
    padding-left: 15px;
    
    
    

}
#navtop_right li a{
color: #32313B;
    text-decoration: none;
    font-size: 18px;
    display: block;
    
    
}

#navtop_right ul li a:hover{
    
background-color: #39B1C6;
color: white;
    transition: 0.5s;
    
    
}

#navmid{

width: 100%;
background-color: #39B1C6;
    height: 70px;
    float: left;
}

.active{

background-color: white;
color:#39B1C6;
	}

#logo{
width: 25%;
    height: 70px;
padding-left: 12.5%;
    padding-top: 5px;
    float: left;
}
#navbar{
width: 100%;
    height: 70px;
	text-decoration:none;
}

#navbar ul{
list-style: none;
    margin: 0;
    padding: 0;
    
}


#navbar ul li{
float: left;
    width: 10%;
    text-align: center;
    line-height: 70px;
    font-family: 'Kanit', sans-serif;
    display: block;
    color: white;
	
}

#navbar ul li:hover{
background-color: white;
    color:#388E8E;
    transition: .6s;
}


#header {
    width:1200px;height:400px;
    float: left;
    
}

#image1{
    
    width: 100%;
    height: auto;
    float: left;
    
}



#content{
width: 40%;
    height: 500px;
    background-color:#39B1C6;
    float: left;
    margin: 4% 5%;
    color: white;
    font-family: 'Kanit', sans-serif;
	border: 1px solid #39B1C6;
	border-radius: 10px;
}

#content1{
	width:35%;
	height: auto;
	background-color:#39B1C6;
    float: left;
    margin: 4% 5%;
    color: white;
    font-family: 'Kanit', sans-serif;
	border: 1px solid #39B1C6;
	border-radius: 10px;
	text-decoration:none;
	text-align: center;
	
	}
	
#content3{
	
	width:35%;
	height:500px;	
	background-color:#39B1C6;
    float: left;
    margin: 4% 5%;
    color: white;
    font-family: 'Kanit', sans-serif;
	border: 1px solid #39B1C6;
	border-radius: 10px;
	text-decoration:none;
	text-align: center;
	
	}


#footer{
width: 100%;
    height: 40px;
    background-color: #39B1C6;
    float: left;
    text-align: center;
    padding-top: 15px;
    color: white;
    font-family: 'Kanit', sans-serif;
}